:root {
    --stfc-light-blue:#1E5Df8;
    --stfc-dark-blue:#003088;
    --stfc-orange:#ff9d1b;
}

body {
    padding-top: 50px;
}

.sspeci {
    padding: 40px 15px;
    text-align: center;
}
/* 
h1 {
    color: var(--stfc-dark-blue);
}

h2 {
    color: var(--stfc-light-blue);
} */

.contflex {
    display: flex;
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

